<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.markfromberg.ShowNodeCount</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShowNodeCount</string>
	<key>CFBundleShortVersionString</key>
	<string>1.2</string> <!-- 1.0 -->
	<key>CFBundleVersion</key>
	<string>120</string> <!-- 123 -->
	<key>UpdateFeedURL</key>
	<string>____OnlineUrlToThisPlist____</string>
	<key>productPageURL</key>
	<string>https://github.com/Mark2Mark/Show-Node-Count</string>
	<key>productReleaseNotes</key>
	<string>Revival</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, Mark Frömberg, 2015-now</string>
	<key>NSPrincipalClass</key>
	<string>ShowNodeCount</string>
	<key>PyMainFileNames</key>
	<array>
		<string>plugin.py</string>
	</array>
</dict>
</plist>
