<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>ShowNodeCount</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.markfromberg.ShowNodeCount</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ShowNodeCount</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>CFBundleShortVersionString</key>
	<string>1.1.4</string>
	<key>UpdateFeedURL</key>
	<string>https://raw.githubusercontent.com/DeutschMark/Show-Node-Count/master/ShowNodeCount.glyphsReporter/Contents/Info.plist</string>
	<key>productPageURL</key>
	<string>https://github.com/DeutschMark/Show-Node-Count</string>
	<key>productReleaseNotes</key>
	<string>New position outside the sidebearings taking italic angle into account</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright, by Mark Frömberg (@DeutschMark), 2015</string>
	<key>NSPrincipalClass</key>
	<string>ShowNodeCount</string>
	<key>PyMainFileNames</key>
	<array>
		<string>../MacOS/main.py</string>
	</array>
</dict>
</plist>
